@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --font-weight: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --color-one: #262626;
  --color-two: #ffffff;
  --color-three: #ff4f4f;
  --color-four: #474bff;
  --color-five: #747373;
}

body {
  font-family: var(--body-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color-one);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #393939,
    #727272,
    #b0b0b0,
    #f3f3f3
  );
}

::-webkit-scrollbar-thumb {
  background: var(--color-three);
  border-radius: 10px;
}

/* Nav bar */

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.scrolled {
  background: var(--color-three);
  transition: all 0.5s ease-in-out;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-right: 100px;
}

.nav-content ul li {
  list-style: none;
}

.nav-content ul li a {
  text-decoration: none;
  color: var(--color-two);
  font-weight: var(--font-weight-semibold);
}

.nav-content button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--color-two);
  font-weight: var(--font-weight-semibold);
}

.one {
  background: var(--color-three);
}

.two {
  background: var(--color-one);
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: fit-content;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
  display: none;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--color-one);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

.toggle-active + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

.toggle-active + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

.toggle-active + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

.toggle-active + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

.toggle-active + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* Nav Responsive */

@media screen and (max-width: 790px) {
  nav div ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .nav-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    background: #ff4f4f;
  }
  .nav-active {
    transform: translateX(0);
  }
  .nav-content ul li {
    margin: 1rem;
  }
  .nav-content ul li a {
    font-size: 1.5rem;
    color: #000000;
  }
  nav button {
    display: none;
  }
  .toggle {
    display: flex;
  }
  .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

/* Header */

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-oval {
  position: absolute;
  top: 0;
  right: 0;
  width: 55rem;
  z-index: -1;
}

header .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
}

header .content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 518px;
}

header .content .text h1 {
  font-size: 3rem;
  font-weight: var(--font-weight);
  color: var(--color-one);
}

header .content .text h1 span {
  font-weight: var(--font-weight-bold);
  color: var(--color-one);
}

header .content .text p {
  font-size: 1.2rem;
  font-weight: var(--font-weight);
  color: var(--color-one);
}

header .content .text button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--color-two);
  font-weight: var(--font-weight-semibold);
  background: var(--color-three);
}

header .content .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .content .img img {
  width: 100%;
}

/* Header Responsive */

@media (max-width: 1080px) {
  header .content .text {
    width: 100%;
  }
}
@media (max-width: 935px) {
  header .content .text h1 {
    font-size: 2.5rem;
  }

  header .content .text p {
    font-size: 1rem;
  }

  header .content .text button {
    padding: 0.3rem 0.8rem;
  }
}

@media (max-width: 790px) {
  header .content {
    grid-template-columns: 1fr;
  }
  header .content .text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header .content .img {
    display: none;
  }

  header .content .text button {
    margin-top: 1rem;
    color: var(--color-one);
    background: var(--color-two);
  }
}

@media (max-width: 600px) {
  header .content .text button {
    background: var(--color-three);
    color: var(--color-two);
  }
}

/* features */
.feature {
  padding: 2rem;
  background: var(--color-two);
  gap: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease;
  border-bottom: 5px solid var(--color-three);
}

.card h3 {
  font-weight: var(--font-weight-semibold);
  color: var(--color-one);
}

.card p {
  color: var(--color-one);
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 10px var(--color-three);
}

/* About */

.about {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.44870448179271705) 17%,
    rgba(255, 79, 79, 1) 100%
  );
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 518px;
}

.about .text h2 {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-one);
}

.about .text h2 span {
  font-weight: var(--font-weight-bold);
  color: var(--color-one);
}

.about .text ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  list-style: none;
}

.about .text ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.about .text ul li::before {
  content: url(/list-style.svg);
}

.about .text button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--color-two);
  font-weight: var(--font-weight-semibold);
  background: var(--color-three);
}

/* About Responsive */

@media (max-width: 1080px) {
  .about .text h2 {
    text-align: center;
  }
}

@media (max-width: 935px) {
  .about .text h2 {
    font-size: 2.5rem;
  }

  .about .text button {
    padding: 0.3rem 0.8rem;
  }
}

@media (max-width: 790px) {
  .about {
    flex-direction: column;
    gap: 2rem;
  }
  .about {
    flex-direction: column;
    gap: 2rem;
  }
  .about .text {
    width: 100%;
    align-items: center;
  }
  .about .text button {
    margin-top: 1rem;
    color: var(--color-three);
    background: var(--color-two);
    transition: 0.3s;
  }
}

/* Testimonial */

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title h2 {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-one);
  margin-block: 1rem;
}

.blue-line {
  height: 0.3rem;
  width: 6rem;
  background-color: var(--color-three);
  margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
  position: relative;
  width: 70%;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.review-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(2rem + 1vmin);
  width: 100%;
}

#imgDiv {
  border-radius: 50%;
  width: calc(6rem + 4vmin);
  height: calc(6rem + 4vmin);
  position: relative;
  box-shadow: 5px -3px var(--color-three);
  background-size: cover;
  margin-bottom: calc(0.7rem + 0.5vmin);
}

.chicken {
  background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
  width: 200px;
  height: 250px;
  position: absolute;
  top: 12%;
}

#imgDiv::after {
  content: "''";
  font-size: calc(2rem + 2vmin);
  font-family: sans-serif;
  line-height: 150%;
  color: #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--color-three);
  position: absolute;
  top: 10%;
  left: -10%;
  width: calc(2rem + 2vmin);
  height: calc(2rem + 2vmin);
}

#personName {
  margin-bottom: calc(0.7rem + 0.5vmin);
  font-size: calc(1rem + 0.5vmin);
  letter-spacing: calc(0.1rem + 0.1vmin);
  font-weight: bold;
}

#profession {
  font-size: calc(0.8rem + 0.3vmin);
  margin-bottom: calc(0.7rem + 0.5vmin);
  color: var(--color-three);
}

#description {
  font-size: calc(0.8rem + 0.3vmin);
  width: 70%;
  max-width: 40rem;
  text-align: center;
  margin-bottom: calc(1.4rem + 1vmin);
  color: rgb(92, 92, 92);
  line-height: 2rem;
}

.arrow-wrap {
  position: absolute;
  top: 50%;
}

.arrow {
  width: calc(1.4rem + 0.6vmin);
  height: calc(1.4rem + 0.6vmin);
  border: solid var(--color-three);
  border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.arrow:hover {
  transition: 0.3s;
  transform: scale(1.15);
}

.left-arrow-wrap {
  left: 5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}
@media screen and (max-width: 900px) {
  .testimonial {
    width: 100%;
  }
}

/* testimonial responsive */

@media screen and (max-width: 900px) {
  .testimonial {
    width: 100%;
  }

  .testimonial h2 {
    font-size: 2rem;
  }
}

/* story */

.story {
  width: 100%;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-one);
  margin-bottom: 1rem;
  text-align: center;
}

.sub-title {
  font-size: calc(1rem + 0.5vmin);
  color: var(--color-three);
  margin-bottom: 1rem;
  padding: 0 2rem;
  text-align: center;
}

.story-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}

.story-card .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-two);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  transition: 0.3s;
  border-bottom: 0.5rem solid var(--color-three);
}

.story-card p span {
  text-decoration: underline;
}

.story-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* story responsive */

@media screen and (max-width: 900px) {
  .story {
    width: 100%;
  }
  .section-title {
    font-size: 2rem;
  }
  .sub-title {
    font-size: 1rem;
  }
  .story-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Posts */

.posts {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-two);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  transition: 0.3s;
  border-bottom: 0.5rem solid var(--color-three);
}

.post-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.post-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card-text h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-one);
  margin-bottom: 1rem;
  text-align: center;
}

.card-text p {
  font-size: 1rem;
  color: var(--color-five);
  margin-bottom: 1rem;
  padding: 0 2rem;
  text-align: center;
}

.card-text p span {
  color: var(--color-one);
  font-weight: var(--font-weight-semibold);
}

/* Posts responsive */

@media screen and (max-width: 900px) {
  .posts {
    width: 100%;
  }
  .post-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card-text h3 {
    font-size: 1.2rem;
  }

  .card-text p {
    font-size: 0.8rem;
  }

  .card-text p span {
    font-size: 0.8rem;
  }

  .post-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

/* Mail */

.mail {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 200px;
  background: var(--color-three);
}

.mail h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-two);
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--color-two);
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: var(--color-two);
  color: var(--color-one);
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: var(--color-three);
  border: solid 1px var(--color-two);
  color: var(--color-two);
}

.input:focus,
.input:focus-visible {
  border-color: var(--color-one);
  outline: none;
}

/* Mail responsive */

@media screen and (max-width: 900px) {
  .mail {
    width: 100%;
  }
  .mail h3 {
    font-size: 1.2rem;
  }
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid var(--color-two);
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  .button--submit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--color-two);
    color: var(--color-one);
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .button--submit:hover {
    background-color: var(--color-three);
    border: solid 1px var(--color-two);
    color: var(--color-two);
  }
  .input:focus,
  .input:focus-visible {
    border-color: var(--color-one);
    outline: none;
  }
}

/* Footer */


.pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: var(--color-two);
  color: var(--color-one);
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: var(--color-three);
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: var(--color-two);
}

.footer-content-column ul li a {
  color: var(--color-five);
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: var(--color-one);
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}


.footer-call-to-action-description {
  color: var(--color-five);
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: var(--color-two);
  color: var(--color-three);
  border: solid 1px var(--color-three);
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: var(--color-three);
  border-radius: 21px;
  color: var(--color-two);
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: var(--color-three);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: var(--color-one);
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: var(--color-three);
}

.footer-social-link.linkedin {
  height: 50px;
  left: 3px;
  top: 11px;
  width: 50px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: var(--color-two);
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 50px;
  left: 62px;
  top: 3px;
  width: 50px;
}

.footer-social-link.youtube {
  height: 50px;
  left: 120px;
  top: 12px;
  width: 50px;
}

.footer-social-link.github {
  height: 50px;
  left: 172px;
  top: 7px;
  width: 50px;
}

.footer-copyright {
  background-color: var(--color-three);
  color: var(--color-two);
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: var(--color-two);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: var(--color-two);
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
